body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  background: #111;
  padding: 15px;
  text-align: center;
}

.logo { height: 60px; }

.productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  padding: 20px;
}

.producto-card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.btn {
  background: #0A3D62;
  color: #fff;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.carrito-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #0A3D62;
  color: white;
  padding: 15px;
  border-radius: 50%;
  cursor: pointer;
}

#contador {
  font-weight: bold;
}

/* MODAL */
.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  width: 90%;
  max-width: 400px;
  margin: 10% auto;
  border-radius: 8px;
}

.close {
  float: right;
  cursor: pointer;
}

.carrito-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

